@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib";

@plugin "../vendor/heroicons";
@plugin "../vendor/daisyui" { themes: false; }
@plugin "../vendor/daisyui-theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: oklch(0.253267 0.015896 252.417568);
  --color-base-200: oklch(0.232607 0.013807 253.100675);
  --color-base-300: oklch(0.210054 0.012237 253.100675);
  --color-base-content: oklch(0.841536 0.007965 265.755);
  --color-primary: oklch(0.6 0.2 250);
  --color-primary-content: oklch(1 0 0);
  --color-secondary: oklch(0.6 0.15 200);
  --color-secondary-content: oklch(1 0 0);
  --color-accent: oklch(0.7 0.15 150);
  --color-accent-content: oklch(0.2 0 0);
  --color-neutral: oklch(0.3 0.01 260);
  --color-neutral-content: oklch(0.85 0.01 260);
  --color-info: oklch(0.7 0.15 230);
  --color-success: oklch(0.65 0.2 150);
  --color-warning: oklch(0.75 0.15 80);
  --color-error: oklch(0.65 0.2 25);
}

@custom-variant phx-click-loading ([data-phx-click-loading]);
@custom-variant phx-submit-loading ([data-phx-submit-loading]);
@custom-variant phx-change-loading ([data-phx-change-loading]);

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
