<div class="min-h-screen flex flex-col items-center justify-center bg-base-100">
  <img
    src={~p"/images/j-logo-black.svg"}
    alt="Jarga"
    class="h-24 w-auto dark:hidden"
  />
  <img
    src={~p"/images/j-logo-white.svg"}
    alt="Jarga"
    class="h-24 w-auto hidden dark:block"
  />
  <p class="mt-6 text-2xl font-light text-base-content/70">Coming Soon</p>
</div>
